        <div id="travel">
            <div id='marca'>
                <div id="logo"></div>
                <div id="nomeprojeto">
                    <h1>TRAVELAPP</h1>
                    <h2>O jeito fácil e divertido de viajar!</h2>
                    
                </div>
            </div>
            <div id='cadastro'>
                <div id="robo">
                    
                </div>
                <div id="titulocadastro">
                    <h1>Criar sua conta</h1>
                    <h2>Já possui uma conta? <i id="destaque">Faça Login</i></h2>
                </div>
                <div id="caixalogin">
                    <form>
                        <div id="inputs">                        
                            <input type="text" id="cliente.nome" class="nome" name="cliente.nome" placeholder="Nome"/>
                            <input type="text" id="cliente.sobrenome" class= "sobrenome" name="cliente.sobrenome" placeholder="Sobrenome"/>
                            <input type="text" id="cliente.email" class= "email" name="cliente.email" placeholder="E-mail"/>
                            <input type="text" id="cliente.senha" class= "senha" name="cliente.senha" placeholder="Senha"/>

                        </div>
                        <div id="botao">
                            <button type="button">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
             
        </div>