<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div id="travel">
    <div id='marca'>
        <div id="logo"></div>
        <div id="nomeprojeto">
            <h1>TRAVELAPP</h1>
            <h2>O jeito fácil e divertido de viajar!</h2>

        </div>
    </div>
    <div id='cadastro'>
        <div id="robo">

        </div>
        <div id="titulocadastro">
            <h1>Criar sua conta</h1>
            <h2>Já possui uma conta? <button id="destaque" class="facalogin" routerLink="logar">Faça
                    Login</button></h2>
        </div>
        <div id="caixalogin">
            <form [formGroup]="signUpForm" (ngSubmit)="submit()">
                <div id="inputs">
                    <input class="nome" formControlName="name" placeholder="Nome" />
                    <input class="sobrenome" formControlName="secondname" placeholder="Sobrenome" />
                    <input class="email" formControlName="email" placeholder="E-mail" />
                    <input type="password" class="senha" formControlName="password" placeholder="Senha" />
                    <input type="password" class="senha" formControlName="confirmPassword"
                        placeholder="Confirmar Senha" />

                </div>
                <div id="botao" style="top: 540px">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<router-outlet></router-outlet>