<!DOCTYPE html>
<!-- Alex -->
<html lang="pt-br">

<head>
    <title>Travel App</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="cadastroefetuado.component.css" media="all">
</head>

<body>
    <div id="travel-sucess">
        <div id="centro">
            <div id='mensagem'>
                <h1>Cadastro realizado com sucesso!</h1>
            </div>
            <div id="globo"></div>
            <div id="botao-sucesso">
                <button type="button" routerLink="../poslogin">Começe a Navegar</button>
            </div>
        </div>
    </div>


</body>

</html>